* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #2E2E2E;
    color: #f9f9f9;
}

#the-Cocktail-Shaker-font {
    font-family:"Marlowe Swirl W05 Regular";
    font-size: 250%;
    text-align: center;  
}
#select-cocktail {
    text-align: center;
}
#selected-cocktail {
    text-align: center;
}
.drinks-image {
    max-width: 75%;
    height: auto;
    border: 1px solid #05FF00;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px #05FF00;
    background-color: #05FF00;
    
}
.drinks-image-how {
    max-width: 50%;
    height: auto;
    border: 1px solid #05FF00;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px #05FF00;
    background-color: #05FF00;
    
}

.cocktail-title {
    font-family:"Marlowe Swirl W05 Regular"; 
    font-size: 250%;  
}
#cocktail-id {
    display: none;
}
/* #cocktail-position {
    display: none;
}

