@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: #2E2E2E;
    color: #f9f9f9;
    align-items: center;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}
header {
    width: 100%;
    margin: auto;
}
header a {
    text-decoration: none;
}
main {
    width: 90%;
    margin: auto;
}
h1 {
    font-family:"Marlowe Swirl W05 Regular";
    font-weight: 100;
}
ul {
    list-style-type: none;
    margin-top: 10px;
    padding-bottom: 10px;
}
.input {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
    background-color: #f9f9f9;
}
textarea:focus, input:focus{
    outline: none;
    background-color: #f9f9f9;
}

/* The code for the gradient border came from https://codepen.io/alphardex/pen/vYEYGzp */
.gradient-border {
    --border-width: 2px;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    background: #2E2E2E;
    border-radius: var(--border-width);
}
.gradient-border::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, #FF3093, #FF3093, #FFE500, #05FF00, #02F4F4, #02F4F4);
    background-size: 300% 300%;
    background-position: 0% 100%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 10s alternate infinite;
}
@keyframes moveGradient {
  50% {
    background-position: 100% 0%;
  }
}
/* The code for the gradient border came from https://codepen.io/alphardex/pen/vYEYGzp */

#the-Cocktail-Shaker-font {
    font-size: 250%;
}
#information-container {
    min-height: 70vh;
    padding: 20px;
}
#information-container a {
    text-decoration: none;
    color: #2E2E2E;
    font-weight: 500;
}
.welcome {
    background-image: url("../images/welcome.png");
    background-size: auto 55%;
    background-repeat: no-repeat;
    background-position: bottom;
}
.send-email {
    background-image: url("../images/welcome.png");
    background-size: auto 45%;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.did-not-find {
    background-image: url("../images/no-drinks.png");
    background-size: auto 45%;
    background-repeat: no-repeat;
    background-position: bottom left;
}
.random-no-more {
    background-image: url("../images/random.png");
    background-size: auto 45%;
    background-repeat: no-repeat;
    background-position: bottom left;
}
.enjoy {
    background-image: url("../images/enjoy.png");
    background-size: auto 45%;
    background-repeat: no-repeat;
    background-position: bottom;
}
.welcome p {
    font-size: 14px;
}
/* speech bubble by https://projects.verou.me/bubbly/ */

.speech-bubble {
	position: relative;
	background: #474747;
    border-radius: 10px;
    padding: 10px;
    max-width: 500px;
    margin: auto;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 50%;
	border: 31px solid transparent;
	border-top-color: #474747;
	border-bottom: 0;
	margin-left: -31px;
	margin-bottom: -31px;
}
#cocktail-selection-type {
    max-width: 500px;
    margin: auto;
}

#nav-buttons {
    width: 100%;
}
.welcome-buttons {
    width: 130px;
    font-size: 14px;
    padding: 5px 0 5px 0;
    color: #2E2E2E;
}
#button-float-left {
    float: left;

    border-radius: 10px;
    background-color: #FF3093;
    margin-top: 20px;
    color: #2E2E2E;
}
#button-float-left:hover {
    box-shadow: 0px 0px 10px #FF3093;
}
#button-float-right {
    float: right;

    border-radius: 10px;
    background-color: #02F4F4;
    margin-top: 20px;
    color: #2E2E2E;
}
#button-float-right:hover {
    box-shadow: 0px 0px 10px #02F4F4;
}
#show-me {
    margin-top: 20px;
}
.buttons {
    width: 130px;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    color: #2E2E2E;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.blue-button {
    background-color: #02F4F4;
}
.blue-button:hover {
    box-shadow: 0px 0px 10px #02F4F4;
}
.green-button {
    background-color: #05FF00;
}
.green-button:hover {
    box-shadow: 0px 0px 10px #05FF00;
}
.pink-button {
    background-color: #FF3093;
}
.pink-button:hover {
    box-shadow: 0px 0px 10px #FF3093;
}
.pointer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    color: #2E2E2E;
    margin-left: 5px;
    margin-right: 5px;
}
.pointer-left {
    background-color: #FF3093;
}
.pointer-left:hover {
    box-shadow: 0px 0px 10px #FF3093;
}
.pointer-right {
    background-color: #02F4F4;
}
.pointer-right:hover {
    box-shadow: 0px 0px 10px #02F4F4;
}
.pointer-home {
    background-color: #FFE500;
}
.pointer-home:hover {
    box-shadow: 0px 0px 10px #FFE500;
}
.pointer-information {
    background-color: #05FF00;
}
.pointer-information:hover {
    box-shadow: 0px 0px 10px #05FF00;
}
.pointer-disabled {
    background-color: #474747;
}
.no-more {
    padding-bottom: 20px;
}

.ingredient-input {
    font-size: 16px;
    padding: 10px;
    width: 200px;
    border-radius: 5px 5px 0 0;
    margin-top: 20px;
    text-decoration: none;
    background-color: lightgray;
}

.ingredient-list {
    border-radius: 0 0 5px 5px;
    height: 90px;
    overflow: auto;
    max-width: 220px;
    margin: auto;
    background-color: #474747;
    margin-bottom: 20px;
}

.drinks-list {
    border-bottom: 1px #2E2E2E solid;
    padding-bottom: 4px;    
}
.drinks-list:hover {
    cursor: pointer;
}
.we-are-shaking-it {
    color: #FF3093;
    text-shadow: 0 0 30px #FF3093;
    font-size: 500%;
}

.drinks-image {
    max-width: 85%;
    height: auto;
    border: 1px solid #05FF00;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px #05FF00;
    background-color: #f9f9f9;
    margin-top: 20px;
}
.drinks-image-how {
    width: 40%;
    height: auto;
    border: 1px solid #05FF00;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px #05FF00;
    background-color: #f9f9f9;
    margin-top: 20px;
}
#select-cocktail {
    font-size: 14px;
}
#select-cocktail h1 {
    font-size: 250%;
}
#instructions {
    padding: 10px;
    border-radius: 4px;
    background-color: #474747;
    margin: auto;
    max-width: 600px;
}
.cocktail-title {
    font-family: "Marlowe Swirl W05 Regular"; 
    font-size: 250%;  
}
#cocktail-id {
    display: none;
}
#cocktail-position {
    display: none;
}
/* the code for the tooltips was taken from https://www.w3schools.com/css/css_tooltip.asp */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #f9f9f9;
    color: #2E2E2E;
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
    border-radius: 5px;
    bottom: 150%;
    left: 50%;
    margin-left: -50px;
    font-family: 'Noto Sans JP', sans-serif;
    opacity: 0;
    transition: opacity 1s;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #f9f9f9 transparent transparent transparent;
  }  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

@media all and (min-width: 767px) and (max-width: 1023px) {
    .drinks-image {
        max-width: 60%;
    }
    #the-Cocktail-Shaker-font {
        font-size: 500%;
    }
    .welcome {
        background-size: auto 70%;
    }
    .did-not-find {
        background-size: auto 65%;
        background-position: bottom center;
    }
    .random-no-more {
        background-size: auto 60%;
        background-position: bottom center;
    }
    .send-email {
        background-size: auto 70%;
        background-position: bottom right;
    }
    .enjoy {
        background-size: auto 70%;
        background-position: bottom;
    }
    #select-cocktail h1 {
        font-size: 300%;    
    }
    
}
@media all and (min-width: 1025px) {
    #information-container {
        min-height: 70vh;
    }  
    .welcome {
        background-size: auto 70%;
    }
    .did-not-find {
        background-size: auto 70%;
        background-position: bottom center;
    }
    .random-no-more {
        background-size: auto 65%;
        background-position: bottom left;
    }
    .send-email {
        background-size: auto 70%;
        background-position: bottom right;
    }
    .enjoy {
        background-size: auto 70%;
        background-position: bottom;
    }
    #select-cocktail h1 {
        font-size: 300%;    
    }
    .pointer {
        margin-left: 10px;
        margin-right: 10px;
    }
    .drinks-image {
        max-width: 30%;
    }
    .drinks-image-how {
        width: 20%;
        height: auto; 
    }
    #the-Cocktail-Shaker-font {
        font-size: 500%;
    }
}

/* iPad Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .drinks-image {
        max-width: 40%;
    }
    .drinks-image-how {
        width: 20%;
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .drinks-image {
        max-width: 40%;
    }
    .drinks-image-how {
        width: 20%;
    }
}





