* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #2E2E2E;
    color: #f9f9f9;
    height: 100vh;
    align-items: center;
    text-align: center;
}
header {
    width: 90%;
    height: 10%;
    margin: auto;
}
main {
    width: 90%;
    height: 80%;
    margin: auto;
}
h1 {
    font-family:"Marlowe Swirl W05 Regular";
    font-weight: 100;
}
ul {
    list-style-type: none;
    margin-top: 5vh;
    padding-bottom: 5vh;
}

.gradient-border {
  --border-width: 2px;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 89%;
  background: #2E2E2E;
  border-radius: var(--border-width);
}
.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg, #FF3093, #FFE500, #05FF00, #02F4F4);
  background-size: 300% 300%;
  background-position: 0% 100%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 10s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 0%;
  }
}


#the-Cocktail-Shaker-font {
    font-size: 250%;
}

.drinks-image {
    max-width: 75%;
    height: auto;
    border: 1px solid #05FF00;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px #05FF00;
    background-color: #05FF00;
    
}
.drinks-image-how {
    width: 25%;
    height: auto;
    border: 1px solid #05FF00;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px #05FF00;
    background-color: #05FF00;
    
}
.cocktail-title {
    font-family:"Marlowe Swirl W05 Regular"; 
    font-size: 250%;  
}
#cocktail-id {
    display: none;
}
#select-cocktail {
    height: 70vh;
    padding: 5vh;
}

@media all and (min-width: 992px) {
    .drinks-image {
    max-width: 25%;
    height: auto;
    }
    #the-Cocktail-Shaker-font {
    font-size: 500%;
}
}
#cocktail-position {
    display: none;
}

